# HAML Document

*Welcome* to this HAML document. I am /very/ excited to be working on this project
today. I am writing this document to test out the different syntax tags that I am
wanting to implement.

## Subsection
This section is here so that I can test a heading level 2 tag.

### Another Subsection
This section is here so that I can test a heading level 3 tag. ⭑